*{
	box-sizing:border-box;
}
body{
	margin: 0px;

}

ul{
	float: left;

	list-style-type: none;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 0;
}
li{
	float: left;

}

li a{
	
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition:0.4s;
	transition:0.4s;
}

li a:hover{
	background-color: #bfbfbf;
	color: white;
}

div.image1{
	padding: 5px;
	margin-top: -20px;
	width: 100%;
	height: 800px;
	/*border: 2px solid red;*/
	background: url(Athens_panorama2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	


}

#imageword1{


    
    font-family: sans-serif;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 5px #4d4d4d;
	/*border: 2px solid white;*/
	padding: 150px;
	height: 500px;

}

@media only screen and (max-width: 1500px){
	#imageword1{
		    font-family: sans-serif;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 5px #4d4d4d;
	/*border: 2px solid white;*/
	padding: 150px;
	height: 500px;
	}
}

#imageword2{
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 50px;
	color: white;
	text-shadow:2px 2px 5px #4d4d4d;
	text-align: center;

}

div.flex-container{
	clear: left;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	width: 400px;
	height: 250px;
	background-color: white;


}

.flex-item{

	background-color: lightgrey;
	width: 100px;
	height: 100px;
	margin:10px;
	text-align: center;
	line-height: 60px;
}

div.image2{
	/*border:solid;*/
	float: left;
	/*margin: 5px 0px;*/
	padding: 5px 2.5px;
	width: 33.3333%;

}

@media only screen and (max-width: 1300px){
	div.image2{
		width: 49.9999%;
		margin: 0px 0px;
		padding: 2.5px 2.5px;

	}
	div.image4{
		width: 49.999%;
		padding: 2.5px 2.5px;
	}
}

@media only screen and (max-width: 700px){
	div.image2{

		padding: 2.5px 2.5px;
		width: 100%;
		
	}
}

div.image2 img{
	/*display: inline-block;*/
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition:0.4s;
	width: 100%;
	height: auto;



}

div.image2 img:hover{
	opacity: 0.7;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

};

/*===================================*/
div.test{
	/*clear:both;*/
	content: "";
	display: table;
	clear: both;
	/*border: solid;*/

}

/*================================*/
div.image3{
	/*clear: left;*/
	/*border: solid;*/
	float: left;
	width: 69.599%;
}

div.image3 img{
	/*display: inline-block;*/
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition:0.4s;
	width: 100%;
	height: auto;
}

div.image3 img:hover{
	opacity: 0.7;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}


/*======================================*/

div.image4{
	/*background-color: red;*/
	float: left;
	padding: 2.5px 2.5px;
	width: 30.3%;
}

div.image4 img{
	/*display: inline-block;*/
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition:0.4s;
	width: 100%;
	height: auto;
}

div.image4 img:hover{
	opacity: 0.7;
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

};

